section.section
	.container
		.footer-main
			.columns
				.column
					h4.title.is-4 Fruits
					p
						| randomised words which don't look even slightly believable. If you are going to use
						| a passage of Lorem Ipsum,
				.column
					h4.title.is-4 Services
					p
						| randomised words which don't look even slightly believable. If you are going to use
						| a passage of Lorem Ipsum,
				.column
					h4.title.is-4 List
					p
						| randomised words which don't look even slightly believable. If you are going to use
						| a passage of Lorem Ipsum,
				.column
					h4.title.is-4 Follow Us
					.buttons
						a.button.is-medium.is-instagram.is-inverted.is-black-social
							span.icon
								i.fab.fa-instagram.fa-lg
						a.button.is-medium.is-twitter.is-inverted.is-black-social
							span.icon
								i.fab.fa-twitter.fa-lg
						a.button.is-medium.is-youtube.is-inverted.is-black-social
							span.icon
								i.fab.fa-youtube.fa-lg
					h4.title.is-4 Subscribe Now
					.field
						input.input(type='text' placeholder='Email')
					.buttons
						button.button.is-left.is-medium.is-orange Subscribe

// Source: https://gitlab.com/cekvenich2/11pug

script(src='/assets/js/depp.min.js', type='text/javascript')
script(async, src='/assets/app-def.js', type='text/javascript')
link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css')
script.
	// this is just for google score, else it would be a regular script
	requestAnimationFrame(function () {
		let script = document.createElement('script')
		script.src = '/assets/app-custom.js'
		document.body.appendChild(script)
	}) //raf

