meta(charset='utf-8')
meta(
	name='viewport', content='width=device-width, initial-scale=1, maximum-scale=6, minimum-scale=1, minimal-ui, viewport-fit=cover')

meta(name='11ty starter kit')
meta(name='description' content='Put your description here.')

title #{ pg_title }

// load fonts ASAP
<link rel='preload' href='/assets/fonts/ArchivoNarrow-VariableFont.woff2' crossOrigin='anonymous' as='font'/>
<link rel='preload' href='/assets/fonts/Exo2-VariableFont.woff2' crossOrigin='anonymous' as='font'/>

link(rel='stylesheet', href='/assets/style.css')
link(rel='stylesheet', href='/assets/app-custom.css')
