---
# advanced page, can generate list of blog posts, employees, anything
layout: ../_includes/zitemsLay.pug
blog_title: 'Blog One'
pg_title: 'Pg title a'
---

h3 #{ blog_title }
p Hey, this is cool blog A. 
p Mostly you use plain layout, the item type layouts are more advanced.
