extends ../../_includes/plainLay.pug

block conf
	- var pg_title = 'HEY.pro'

block main
	// a simple page with layout

	.mt-4
	.container
		h4 #{ pg_title }
		p A form.
		<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
		
		.columns
			.column
				.field
					label.label Name
					.control
						input.input(type='text' placeholder='Text input')
				.field
					label.label Username
					.control.has-icons-left.has-icons-right
						input.input.is-success(type='text' placeholder='Text input' value='bulma')
						span.icon.is-small.is-left
							i.fas.fa-user
				.field
					label.label Message
					.control
						textarea.textarea(placeholder='Textarea')
				.field
					.control
						label.checkbox
							input(type='checkbox')
							|       I agree to the 
							a(href='#') terms and conditions
				.field
					.control
						label.radio
							input(type='radio' name='question')
							|       Yes
						label.radio
							input(type='radio' name='question')
							|       No
				.field.is-grouped
					.control
						button.button.is-link Submit
					.control
						button.button.is-link.is-light Cancel
			.column