doctype html
html
	head
		// design example page
		include ../_includes/_head
	body
		p
		div
			h1 H1 says, and says and says
			h2 H2 says, and says and says
			h3 H3 sayssays, and says and says and says
			h4 H4 sayssays, and says and says and says and says and says
			h5 H5 sayssays, and says and says and says and says and says and says
			h6 h6 sayssays, and says and says and says and says and says and says
			h7 h7 says, and says and says
			br
			h8 h8 says, and says and says
			p just plain text, simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker includi
			.robMonoVFo robMonoVFo: just mono font
