doctype html
<html lang="en-GB">
	head
		- var pg_title = 'HEY.pro'
		include _includes/_head

	body
		// simple page with no layout or collections, it uses includes
		
		include _includes/_header

		section.section
			.container
				#services-text-container.has-text-centered
					h1.title.is-1 Our Services
					h4.subtitle
						| There are many variations of passages of Lorem Ipsum available, but the majority have
				br
				.columns
					.column
						.card
							.card-content
								.has-text-centered
									img(src='//restylianos.github.io/bulma-tropico-template/images/card-item-1.png')
								h3#card-product-description.title.is-3.has-text-centered Orange
								p.has-text-centered
									| There are many variations of passages of Lorem Ipsum available, but the majority
									| have suffered alteration in some form, by injected humour, or randomised words
									| which don't look even slightly believable.
					.column
						.card
							.card-content
								.has-text-centered
									img(src='//restylianos.github.io/bulma-tropico-template/images/card-item-1.png')
								h3#card-product-description.title.is-3.has-text-centered Orange
								p.has-text-centered
									| There are many variations of passages of Lorem Ipsum available, but the majority
									| have suffered alteration in some form, by injected humour, or randomised words
									| which don't look even slightly believable.
					.column
						.card
							.card-content
								.has-text-centered
									img(src='//restylianos.github.io/bulma-tropico-template/images/card-item-1.png')
								h3#card-product-description.title.is-3.has-text-centered Orange
								p.has-text-centered
									| There are many variations of passages of Lorem Ipsum available, but the majority
									| have suffered alteration in some form, by injected humour, or randomised words
									| which don't look even slightly believable.
				.buttons.is-centered
					button.button.is-black.is-medium.is-link Read More


		include _includes/_footer
